@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*, *::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit";
}

@media (min-width: 300px) and (max-width: 799px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color:  hsl(212, 45%, 89%);
    }
    
    .starting-sentence {
        width: 320px;
        border: 2px solid rgba(255, 255, 255, .2);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        border-radius: 20px;
        padding: 69px 19px 25px ;
        background: #fff;
    }
    
    .starting-sentence img {
        position: relative;
        top: -50px;
        width: 281px;
        border-radius: 10px;
        margin-bottom: 5px;
    }
    
    .starting-sentence .bold {
        position: relative;
        top: -35px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 25px;
    }
    
    .starting-sentence .bold2 {
        position: relative;
        top: -23px;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        color: hsl(220, 15%, 55%);
    }
}

@media (min-width: 800px){
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color:  hsl(212, 45%, 89%);
    }
    
    .starting-sentence {
        height: 530px;
        width: 320px;
        border: 2px solid rgba(255, 255, 255, .2);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        border-radius: 15px;
        padding: 30px 34px;
        background: #fff;
    }
    
    .starting-sentence img {
        position: relative;
        width: 275px;
        border-radius: 8px;
        right: 13px;
        bottom: 10px;
    }
    
    .starting-sentence .bold {
        text-align: center;
        font-weight: 680;
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 22px;
    }
    
    .starting-sentence .bold2 {
        margin-top: 35px;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        color: hsl(220, 15%, 55%);
    }
}

/* .attribution { 
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
} */

/*